
/* Clinical Service Node Pages */

div#content_main div.node-clinical .content {
  padding: 16px 0 0 0;
}

div#content_main div.node-clinical, 
div#content_main div.node-clinical p {
 color: #333 !important;
 font-size: 16px;
 line-height: 22px;
 font-family: SortsMillGoudy, Georgia, "Times New Roman", Times, Serif;
}

div#content_main div.node-clinical div.field-clinical-image {
 display: block;
 float: left;
 padding-right: 28px;
 width: 194px;
}

div#content_main div.node-clinical div.field-label-field-clinical-more {
 border-left: 1px solid #d0d0d0;
 display: block;
 float: left;
 font-size: 20px;
 padding: 0 0 12px 24px;
 width: 360px;
}

div#content_main div.node-clinical div.field-clinical-more {
 border-left: 1px solid #d0d0d0;
 display: block;
 float: left;
 font: 12px/16px Arial,Helvetica,sans-serif;
 padding-left: 24px;
 width: 360px;
}


div#content_main div.node-clinical div.field-clinical-more ul {
 list-style: none;
 padding: 0 0 0 0;
}

div#content_main div.node-clinical div.field-clinical-more li {
 background: url(../images_layout/raquo.gif) no-repeat left center;
 padding: 3px 0 3px 16px;
}

/* Clinical Search All */

div#content_main div.display-clinical {
 margin: 20px 0 0 0;
}

div#content_main div.display-clinical div.view-column {
 margin: 0 30px;
 float: left;
 width: 240px;
}

div#content_main div.display-clinical div.view-column div.row-item {
 padding: 0 0 16px 0;
}

div#content_main div.display-clinical div.view-column div.row-item h2 {
 border-bottom: 3px solid #3a2165;
 font-size: 22px;
 font-weight: bold;
 line-height: 22px;
 margin: 16px 0 12px 0;
 padding: 0;
 color:#333;
}

div#content_main div.display-clinical div.view-column div.row-item a {
 border-bottom: 3px solid #F0EFED;
 display: block;
 font-size: 14px;
 line-height: 20px;
}

/* Clinical Search Block */

div#clinical_search {
 clear: both;
 width: 100%;
 margin: 25px 0;
 padding: 0;
 overflow: auto;
}

div#clinical_search div.left {
 background: url(../images_layout/clinical_services/search_bg_left.jpg) left top no-repeat;
 display: block;
 float: left;
 height: 125px;
 margin: 0;
 padding: 30px 0 0 32px;
 width: 135px;
}

div#clinical_search div.left h2 {
 color: #FFF;
 display: inline-block;
 font-size: 24px;
 line-height: 30px;
}

div#clinical_search div.right {
 background: url(../images_layout/clinical_services/search_bg_right.jpg) left top no-repeat;
 display: block;
 float: left;
 height: 125px;
 padding: 30px 0 0 0;
 margin: 0;
 width: 525px;
}

div#clinical_search div.right h3 {
 font-weight: bold;
 padding-bottom: 8px;
}

div#clinical_search div.right div {
 display: block;
 float: left;
}

div#clinical_search div.right div.search_box {
 width: 202px;
 padding-left: 50px;
}

div#clinical_search div.right div.alpha_list {
 width: 155px;
 padding-left: 25px;
}

div#clinical_search div.right div.alpha_list ul {
  padding: 0;
}

div#clinical_search div.right div.alpha_list ul li {
 display: inline;
 float: left;
 height: 20px;
 width: 20px;
}

div#clinical_search div.right div.alpha_list ul li a {
 color: #666;
 text-transform: uppercase;
}

div#clinical_search div.right div.view_all {
 height: 60px;
 padding: 40px 0 0 10px;
}

div#clinical_search .clinical-search-keyword-form .form-item {
	margin: 0 0 0 0;
}

div#clinical_search .clinical-search-keyword-form .form-item input {
	height: 12px;
	padding: 2px;
}